.microwave {
  display: flex;
  justify-content: center;
  background-image: url("../../images/panel.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 404px;
  min-height: 1084px;
}

@media screen and (max-width: 403px){
  .microwave {
    width: 100%;
    background-size: 100%;

  }
}

@-moz-document url-prefix(){
  .microwave {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vw / (400 / 1084));
    min-height: auto;
  }

  @media screen and (min-width: 400px){
    .microwave {
      width: 404px;
      background-size: cover;
      height: 1084px;
    }
  }
}
