.panel__button {
  width: 100px;
  opacity: 0.5;
  min-height: 100px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s linear;
}

.panel__button:hover {
  opacity: 1;
}
